@font-face {
    font-family: 'New-York';
    src: url("../assets/fonts/NY/NewYork.ttf") format("truetype");
}

@font-face {
    font-family: 'New-York-EL';
    src: url("../assets/fonts/NY/NewYorkExtraLarge-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'New-York-L';
    src: url("../assets/fonts/NY/NewYorkLarge-Regular_1.ttf") format("truetype");
}

@font-face {
    font-family: 'New-York-S';
    src: url("../assets/fonts/NY/NewYorkSmall-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'New-York-M';
    src: url("../assets/fonts/NY/NewYorkMedium-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'SF-Pro';
    src: url("../assets/fonts/SF/SF-Pro-Display-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'SF-Pro-Display';
    src: url("../assets/fonts/SF/SF-Pro.ttf") format("truetype");
}
@font-face {
    font-family: 'SF-Pro-Text';
    src: url("../assets/fonts/SF/SF-Pro-Text-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'SF-Mono';
    src: url("../assets/fonts/SF/SFMonoRegular.ttf") format("truetype");
}



.font_ny{
    font-family: "New-York" , sans-serif;
}
.font_ny_m{
    font-family: "New-York-M" , sans-serif;
}
.font_ny_el{
    font-family: "New-York-EL" , sans-serif;
}
.font_ny_l{
    font-family: "New-York-L" , sans-serif;
}
.font_ny_s{
    font-family: "New-York-S" , sans-serif;
}

.font_sf{
    font-family: "SF-Pro" , sans-serif;
}
.font_sf_display{
    font-family: "SF-Pro-Display" , sans-serif;
}
.font_sf_text{
    font-family: "SF-Pro-Text" , sans-serif;
}
.font_sf_mono{
    font-family: "SF-Mono" , sans-serif;
}