@import "fonts.css";
@import "media.css";


.container{
    display: block;
    width: 100%;
    text-align: center;
}

.center {
    margin: 0 auto;
  }

 .button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 
  .button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  .button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
 
.btn_action {
  width: 139px;
  height: 54px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
  }